<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Первая запись</title>
    <style type="text/css">
     TABLE {
      table-layout: fixed;
     }
     TD.dino { width: 50px; }
    </style>
  </head>
  <body bgcolor="#c0c0c0">
    <h1><center>Девушка сражается с заносами.</center></h1>
    <br>
    <p>Выходить из непредвиденных заносов, умело пользоваться управляемыми и правильно тормозить на льду — кажется,
    это должен уметь каждый. И все же, как можно наблюдать всякий раз после снегопада, реальность далека от предположений.</p>
    <p>В Скандинавии решили: ежедневно чистить дороги от снега бесполезно, лучше научить водителей ездить по нему — и ввели курсы
    по контраварийному вождению в программу автошкол. В Беларуси тоже действует подобная школа — естественно, необязательная.
    Сегодня вместе с ее инструктором будет заниматься минчанка Лиза, чей опыт вождения более шести лет. Кто в битве девушки и 
    заносов выйдет победителем? Смотрите в нашем видеорепортаже.</p>
    <p>Перед Лизой стояла задача потренироваться входить в поворот на льду без скольжений. Мы выставили конусы в форме квадрата и
    отправили Skoda с передним приводом под управлением девушки их объезжать по внешнему радиусу. Предварительно отключили в машине
    систему стабилизации. Коварный инструктор в неожиданные для курсантки моменты затягивал ручник, отправляя автомобиль в занос.
    Задача Лизы была не улететь в сугроб, а заодно научиться методу выравнивания машины, получившему название «подруливание». 
    Нужно несколько раз довернуть руль в сторону поворота с возвратом. При этом важно смотреть туда, куда нужно ехать, а не туда,
    куда несет автомобиль.</p>
    <br>
    <br>
    <h3>Добавить комментарий</h3>
    <form method="post" action="/first_recording/create">
    <form>
      <table>
        <tr>
          <td><label for="name">Ваше имя:</label></td>
          <td><input type="text" name= "name"></td>
        </tr>
        <tr>
          <td><label for="comment">Комментарий:</label></td>
          <td><textarea type="text" name= "comment" cols="40" rows="3"></textarea>
        </tr>
        <tr>
          <td><input type="submit" value="Отправить" ></td>
        </tr>
      </table>
    </form>
    <br>
    <h3>Обсуждение</h3>
      <% @comments.each do |comm| %>
        <table width="23%">
          <tr>
            <td width="2%" bgcolor="#c0e4ff"><%= comm.id %></td>
            <td width="58%" bgcolor="#c0e4ff"><strong><%= comm.name %></strong></td>
            <td width="40%" bgcolor="#c0e4ff"><%= comm.time %></td>
          </tr>
          <tr>
            <td colspan="3"><%= comm.comment %></td>
          </tr>
        </table>
        <br>
      <% end %>
    <br>
    <a href="/blog">Вернуться на главную страницу</a>
    <br>
    <br>
  </body>
</html>