<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Мой блог</title>
  </head>
  <body bgcolor="#C0C0C0">
    <h1><center>Мой блог</center></h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ol>
      <li><a href="first_recording"><big><big>Девушка сражается с заносами</big></big></a></li>
      <li><a href="second_recording"><big><big>Уроки на гитаре</big></big></a></li>
    </ol>
  </body>
</html>