<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Вторая запись</title>
    <style type="text/css">
     TABLE {
      table-layout: fixed;
     }
     TD.dino { width: 100px; }
    </style>
  </head>
  <body bgcolor="#c0c0c0">
    <h1><center>Уроки игры на гитаре</center></h1>
    <br>
    <p>Программа обучения
    Базовый уровень:
    Посадка гитариста, постановка рук
    Базовые приёмы звукоизвлечения
    Упражнения на растяжку пальцев и чистоту прижатия струн
    Разбор записи табулатур, переборов и аккордов
    Разбор 2-3 несложных композиций или песен
    Игра под метроном
    Настройка гитары</p>
    <p>Продвинутый уровень:
    Изучение основ нотной грамоты
    Самостоятельный разбор пьес и песен
    Игра под метроном
    Изучение особенностей игры в музыкальных стилях
    Переборы и бои усложнённого уровня
    Самостоятельный подбор боя/перебора для песни
    Игра в дуэте, трио</p>
    <p>Профессиональный уровень:
    Углубленное изучение теории музыки
    Импровизация на инструменте — сочинение мелодий
    Совершенствование навыков, изучение новых техник
    Аккомпанемент в любом музыкальном стиле
    Умение изменять ритмический рисунок, транспонировать мелодию
    Популярные вопросы
    Сколько времени учиться?
    Зависит от вашего желания. Можете освоить базу за 2-3 месяца, а можете углубленно изучать гитарное искусство в течение 2-3 лет.
    Какой возраст учеников?
    Обучаем игре на гитаре детей с 6 лет и взрослых без ограничений! Не ставим возрастных преград для музыки.
    У меня нет слуха. Совсем.
    Слух есть у всех, но развит по-разному. Слух и чувство ритма развиваются путём тренировок, как мышцы. Будете играть, 
    слушать музыку — и всё придёт.</p>
    <br>
    <br>
    <h3>Добавить комментарий</h3>
    <form method="post" action="/second_recording/create">
    <form>
      <table>
        <tr>
          <td><label for="name">Ваше имя:</label></td>
          <td><input type="text" name= "name"></td>
        </tr>
        <tr>
          <td><label for="comment">Комментарий:</label></td>
          <td><textarea type="text" name= "comment" cols="40" rows="3"></textarea>
        </tr>
        <tr>
          <td><input type="submit" value="Отправить" ></td>
        </tr>
      </table>
    </form>
    <br>
    <h3>Обсуждение</h3>
      <% @comments2.each do |comm| %>
        <table width="23%">
          <tr>
            <td width="2%" bgcolor="#c0e4ff"><%= comm.id %></td>
            <td width="58%" bgcolor="#c0e4ff"><strong><%= comm.name %></strong></td>
            <td width="40%" bgcolor="#c0e4ff"><%= comm.time %></td>
          </tr>
          <tr>
            <td colspan="3"><%= comm.comment %></td>
          </tr>
        </table>
        <br>
      <% end %>
    <br>
    <a href="/blog">Вернуться на главную страницу</a>
    <br>
    <br>
  </body>
</html>